# Can be found while logged into the AoC website. This contains the value of the session cookie
# Note that this should last 1 month starting from when you last signed in the website.
AOC_SESSION_COOKIE = ''
AOC_YEAR = 2025